/* Root variables for consistency */
:root {
  --navbar-color:#FFFFFF; 
  --logo-font-family: "Epilogue", sans-serif;
  --logo-font-size: 20px; 
  --logo-font-weight: 600; 
  --logo-line-height: 30px; 
  --menu-font-family: "Epilogue", sans-serif; 
  --menu-font-size: 17px; 
  --menu-font-weight: 400; 
  --menu-line-height: 27px; 
  --menu-hover-color: gray; /* For hover state */
  --menu-color: #333; /* Default menu color */
}

/* Existing navbar styling */
.navbar {
  display: flex;
  width: Fill (1,280px); 
  height: 78px; 
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--navbar-color); 
  position: fixed !important;
  top: 0;
  left: 0; 
  right: 0; 
  z-index: 1000;
}

.navbar-brand a {
  font-family: var(--logo-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--logo-font-weight);
  line-height: var(--logo-line-height);
  color: #181818;
  text-decoration: none;
  margin-left: 10px;
  padding: 42px 24px;
}

.navbar-menu {
  display: flex;
  margin: 20px;
  padding: 0;
  gap: 30px;
}

.navbar-menu li {
  margin-left: 20px; 
}

.navbar-menu {
  text-decoration: none;
  color: var(--menu-color); 
  font-family: var(--menu-font-family);
  font-size: var(--menu-font-size); 
  font-weight: var(--menu-font-weight); 
  line-height: var(--menu-line-height); 
  list-style-type: none; /* Remove default list styling */
  padding: 10px; /* Remove default padding */
  margin: 20px; /* Remove default margin */
  display: flex;
  margin-right: 200px;
  
}

.navbar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-menu li a:hover {
  color: var(--menu-hover-color);
}


/* Logout button styles inside dropdown */
.logout-button {
  display: flex;
  background-color: #d33535;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%; /* Full width in dropdown */: 20px;
  
}

.logout-button:hover {
  background-color: #ff3333;
}

.navbar-logo img {
  width: 200px; /* Atur ukuran sesuai kebutuhan */
  height: auto; /* Mempertahankan rasio aspek gambar */
  padding-bottom: 5px;
  margin-left: 200px;
}
