
.testimoni {
  width:Fill (1,232px); 
  max-width: 1600px;
  padding: 42px 24px;
  gap: 42px;
  opacity: 1; 
  box-sizing: border-box; 
  margin: auto; 
}


.testimoni-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(
    2,Fill (394.67px)
    
  ); 
  gap: 42px; 
}

.testimoni-item {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  padding: 20px;
  background: #f3f3f3; 
  box-sizing: border-box; 
}

.testimoni-text {
  font-family: 'Epilogue';
  font-weight: 400; /* Sesuaikan dengan gaya yang diinginkan */
  font-size: 16px; /* Ganti ukuran sesuai kebutuhan */
  line-height: 24px; /* Ganti sesuai dengan jarak yang diinginkan */
  color: #2D2D2D; /* Ganti dengan warna yang diinginkan */
  margin-bottom: 16px; /* Jarak antara teks dan footer */
}



.testimoni-footer {
  display: flex;
  align-items: center; 
  gap: 16px; 
}

.testimoni-start {
  display: flex;
  align-items: center;
  gap: 4px; 
}


.testimoni-detile {
  display: flex;
  flex-direction: column;
  gap: 2px; 
  align-items: flex-start; 
}


.testimoni-nama-company .nama {
  font-family: "Epilogue";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 0; 
}


.testimoni-nama-company .company {
  font-family: "Epilogue";
  font-size: 17px;
  text-align: left;
  margin: 0; 
}
